/node_modules
/public/hot
/public/storage
/public/sitemap.xml
/public/mix-manifest.json
/public/*.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
/public/css/app.css
/public/js/app.js
/public/robots.txt
/public/css/dark_app.css
