// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'fonts';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
    primary: #D93636, // The primary color of your brand
    accent: #325259 // The secondary color of your brand
));

@import "~vue-material/dist/theme/all"; // Apply the theme

@import "components/_components";
@import "utils";
@import "~toastr/toastr";
@import "mobile";

.clickable{
    cursor:pointer;
}

.app-wrapper{
    min-height:100vh;
}
