@font-face {
    font-family: notosans;
    src: url("../../public/fonts/japanese/notosans/NotoSansJP-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: notosans;
    src: url("../../public/fonts/japanese/notosans/NotoSansJP-Bold.otf");
    font-weight: bold;
}
