.nav-separator{
    height: 30px;
    border: 1px solid #325259;
}

.logo{
    width:250px;
    background:#F2F2F2;
    margin-top:10px;
    margin-bottom:10px;
}

main{
    height:fit-content;
}



.frontpage-content{
    padding:0;
}

.header-container{
    width: 100%;
    height: 80vh;
}

.header{
    width: 100%;
    height: 100%;
    background: url("../images/frontpage/background-web.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #09acbd;
    display:flex;

    .header-content{
        z-index: 2;
        width: 40%;
        text-align: center;
        color: white;
        margin:auto;
        position:relative;

        h1{
            font-size:6em;
        }
        p{
            font-size:2.5em;
        }

        button{
            width: 250px;
            height: 60px;
            font-size: 1.3em;
        }
    }

}
.header:after {
    content: "";
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background: rgba(0, 0, 0, 0.30);
    pointer-events: none;
    z-index: 1;
}


.section{
    position: relative;
    z-index: 1;
    background-color:#F2F2F2;

    p{
        font-size:1.8em;
    }
    h1{
        font-size:3.2em;
    }
    h2{
        font-size:2.8em;
    }
    h3{
        font-size:2.5em;
    }
}

.section0{

}

.section1{
    background-color: #99D0F2;
    border-top:10px solid #325259;
    border-bottom:10px solid #325259;

    .triangle{
        position:relative;
        width: 110%;
        height: 250px;
        background-color: #99D0F2;
        border-top:10px solid #325259;
        //transform: translateY(-60%) rotate(-5deg);
    }
}
.section2{
    background-color: #F2F2F2;

    table{
        width: 50%;
        margin: auto;
        text-align: center;
        margin-bottom: 15px;
    }
}

.section3{

    .text{
        border-top: 1px solid #325259;
        padding-top: 20px;
    }

}

.content{
    padding-top:30px;
    padding-bottom:30px;
    z-index:3;
    position:relative;
    color:#325259;
}

.text{
    width:50%;
    margin:auto;
}

footer{
    background-color:$red;
    color:#F2F2F2;

    .copyright{
        text-align: center;
        padding: 15px;

        p{
            font-size: 1.1em !important;
        }
    }
}

@media screen and (max-width: 600px){
    .text{
        width:90%;
    }

    .header-content{
        width:95% !important;

        h1{
            font-size:4em !important;
        }
        p{
            font-size:2.0em !important;
        }
    }

    .section2 .table{
        width:80%;
    }

    .grammar-items{
        width:90% !important;
    }

    .categories {
        margin:auto;
        width:fit-content;
    }
}
