.learning-path-box-content{
    font-size: 1.3em !important;
    padding-bottom: 0 !important;
}

.vocab_learning_path_view_item{
    .word_title{
        text-align: center;
        font-size: 1.9em;
        font-weight: bold;
        margin-top: 20px;
    }

    .word_meaning{
        text-align: center;
        font-size:1.2em;
    }
}

.nb-lessons-reviews-box{
    height:fit-content;
}

.review-content{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.error.md-field{
    border: 3px dotted $error;

    label, input{
        margin-left:15px;
    }
}
.error.md-field.md-theme-default:before{
    background:none;
}
