.learning-path-box-content{
    font-size: 1.3em !important;
    padding-bottom: 0 !important;
}

.vocab_learning_path_view_item{
    .word_title{
        text-align: center;
        font-size: 1.9em;
        font-weight: bold;
        margin-top: 20px;
    }

    .word_meaning{
        text-align: center;
        font-size:1.2em;
    }
}
